body {
    font-family:Roboto; 
    background-color: #4d4d4d;
    color:#FFFFFF
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Oswald', sans-serif;
    font-size: 40pt;
}
header {
    text-align:center; 
}
#hero, footer {
    color:#C09AEF;
    border: 2px solid #C09AEF; 
    background-color:#000000;
    text-align:center;
    padding:10px;    
}
#hero img {
    width:300px; 
}
#bio {
    text-align:center;
}